<html>
<head>
    <title>Mock APIs - objectoriented.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="menu">
        <div class="menu-title">
            Mock APIs for Testing
        </div>
        <div class="menu-search">
            <input type="text" placeholder="Type something here to search...">
        </div>
        <div class="menu-items">
            <div class="menu-item">
                About
            </div>
            <div class="menu-item">
                View More
            </div>
        </div>
    </div>
    <div class="box-area">
        <div class="box">
            <div class="box-header">
                <div class="box-header-items">
                    <div class="box-header-item">University</div>
                    <div class="box-header-item secondary">Faculty, Student</div>
                </div>
            </div>
            <div class="box-description">
                <div class="box-description-container">
                    <div class="box-description-item">
                        <span class="method-get">GET</span> <span class="method-post">POST</span> <span class="method-put">PUT</span> <span class="method-delete">DELETE</span>
                    </div>
                    <div class="box-description-item">
                        Short description here
                    </div>
                    <div class="box-description-item box-description-delimiter"></div>
                    <div class="box-description-item">
                        test
                    </div>
                </div>
            </div>
            <a href="http://localhost:8080/swagger">
                <div class="box-actions">
                    Open Swagger
                </div>
            </a>
        </div>
        <div class="box">
            <div class="box-header">
                <div class="box-header-items">
                    <div class="box-header-item">Store</div>
                    <div class="box-header-item secondary">Product, Order</div>
                </div>
            </div>
            <div class="box-description">
                <div class="box-description-container">
                    <div class="box-description-item">
                        Leverages GET and POST requests
                    </div>
                    <div class="box-description-item box-description-delimiter"></div>
                </div>
            </div>
            <a href="http://localhost:8080/swagger">
                <div class="box-actions">
                Open Swagger
                </div>
            </a>
        </div>
        <div class="box">
            <div class="box-header">
                <div class="box-header-items">
                    <div class="box-header-item">Travel</div>
                    <div class="box-header-item secondary">Hotel, Reservation</div>
                </div>
            </div>
            <div class="box-description">
                <div class="box-description-container">
                    <div class="box-description-item">
                        Leverages GET and POST requests
                    </div>
                    <div class="box-description-item box-description-delimiter"></div>
                </div>
                </div>
            <a href="http://localhost:8080/swagger">
                <div class="box-actions">
                    Open Swagger
                </div>
            </a>
        </div>
    </div>
</body>
</html>