<html>
<head>
    <title>Mock APIs - objectoriented.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="menu">
        <div class="menu-title">
            Mock APIs for Testing
        </div>
        <div class="menu-search">
            <input type="text" placeholder="Type something here to search...">
        </div>
        <div class="menu-items">
            <div class="menu-item">
                About
            </div>
            <div class="menu-item">
                View More
            </div>
        </div>
    </div>
    <div class="box-area">
        <div class="box">
            <div class="box-header">
                University
            </div>
            <div class="box-description">
                Lorem ipsum test Lorem ipsum testLorem ipsum testLorem ipsum testLorem ipsum testLorem ipsum testLorem ipsum testLorem ipsum test
            </div>
            <a href="http://localhost:8080/swagger">
                <div class="box-actions">
                    Open Swagger
                </div>
            </a>
        </div>
        <div class="box">
            <div class="box-header">
                Store
            </div>
            <div class="box-description">
                Lorem ipsum test
            </div>
            <a href="http://localhost:8080/swagger">
                <div class="box-actions">
                Open Swagger
                </div>
            </a>
        </div>
        <div class="box">
            <div class="box-header">
                Hotel
            </div>
            <div class="box-description">
                Lorem ipsum test
            </div>
            <a href="http://localhost:8080/swagger">
                <div class="box-actions">
                    Open Swagger
                </div>
            </a>
        </div>
    </div>
</body>
</html>